*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  font-family: 'IBM Plex Sans Arabic',"Open Sans", sans-serif;
  background-color: #f5f7fa;
  direction: rtl;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
}

h1 {
  text-align: center;
  color: #333;
  font-size: 35px;
}

.menu-toggle{
    color: #1A6C9E;
}
p.description {
    text-align: center;
    color: #8B8B8B;
    max-width: 600px;
    margin: 10px auto 40px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    
}

.filters {
  text-align: center;
  margin-bottom: 30px;
}

.filters button {
    margin: 5px;
    padding: 14px 20px;
    background-color: #e8ecf1;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    color: #333;
    font-size: 17px;
}

.filters button.active,
.filters button:hover {
  background-color: #1A6C9E;
  color: #fff;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.card {
  position: relative;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;    
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}


.card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 15px 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.badge {
    position: absolute;
    top: 15px;
    left: 20px;
    padding: 10px 20px;
    border-radius: 16px;
    font-size: 12px;
    margin-bottom: 10px;
    color: #fff;
}

.badge.urgent {
  background-color: #dc3545;
}

.badge.new {
  background-color: #62A3DB;
}

.badge.trusted {
  background-color: #0d6d55;
}

.card-title {
    font-size: 17px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #222;
}

.card-desc {
    color: #555;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 500;
}

.card-category {
    font-size: 14px;
    color: #1A6C9E;
    margin-bottom: 10px;
    font-weight: 500;
}

.progress-bar {
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  height: 10px;
  margin-top: 10px;
}

.progress-bar-fill {
  background-color: #1A6C9E;
  height: 100%;
  width: 0;
  transition: width 0.3s ease;
}

.progress-text {
    font-size: 14px;
    color: #1A6C9E;
    margin-top: 10px;
    font-weight: 600;
}

.hidden {
  display: none;
}
