.succtext {
    margin: 15px auto;
    font-weight: 500;
    background-color: #E8F0F5;
    padding: 20px;
    border-radius: 6px;
}
.succtext p:first-child {
    color: #1A6C9E;
    margin-bottom: 10px;
}

p.detail-category {
    margin: 10px 0;
}

.action {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}
.btn {
    width: 40%;
    text-align: center;
    border-radius: 6px;
    padding: 12px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover{
    transform: scale(1.02);
}
.btn.donate {
    background-color: #1A6C9E;
    color: white;
}
.btn.share {
    background-color: #E8F0F5;
}


/* ====== Modal Style for sharing  ====== */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 100px;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0 0 0 / 50%);

    font-family: 'IBM Plex Sans Arabic',"Open Sans", sans-serif;
  }
  
  .share-icons {
    display: block;
    background-color: #fff;
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    width: 400px;
    border-radius: 15px;
    text-align: center;    
    transform: translateY(50%);
    position: relative;
  }
  .share-icons h3 {
    color: #1A6C9E;
  }
  .share {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-evenly;
}
.close {
    color: #aaa;
    position: absolute;
    left: 15px;
    top: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }


@media (max-width: 600px) {
    .title {
        text-align: center;
    }
}